@import url('./prism.css');
html {
  font-size: 13px;
}

body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,body{
  background-color: #fff;
}

#app {
  margin: 0 auto;
  position: relative;
}

