@import url('./base.css');

html {
  font-size: 13px;
}

body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 1300px;
  margin: 0 auto;
  position: relative;
}

